<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576079503032-02ahdh0scm2sd1fkep02a47jejok0n2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576079503032-02ahdh0scm2sd1fkep02a47jejok0n2m</string>
	<key>API_KEY</key>
	<string>AIzaSyBnJ9JtFxPVReuugY6hpfpcsA3rM-xO3do</string>
	<key>GCM_SENDER_ID</key>
	<string>576079503032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xiao.umenoki</string>
	<key>PROJECT_ID</key>
	<string>umenoki-9b44e</string>
	<key>STORAGE_BUCKET</key>
	<string>umenoki-9b44e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576079503032:ios:d7f1797f0e78514aaf1e4d</string>
	<key>DATABASE_URL</key>
	<string>https://umenoki-9b44e.firebaseio.com</string>
</dict>
</plist>